{% extends "app/home.html" %}



 {% block content %}
   {% for setor in setors %}
     {% if setor.pengguna.username == users.username %}
     <div class="container-fluid">
        <div class="about-sparkline responsive">
        <div class="sparkline-content">
        <div class="text-center m-b-md custom-login">
            <h2 style="color: #0f63bd "><B>DETAIL PEMESANAN</B></h2>
        </div>
    </div>
    </div>
</div>
       <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="sparkline13-list">

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- DataTales Example -->

        <div class="card shadow mb-4 mt-3">
          <div class="card-body">
            <table class="table table-bordered">
              {% for setor in setors %}
                
              <tr>
                <td>ID Pemesanan </td>
                <td>:</td>
                <td>{{setor.id}}</td>
              </tr>
              <tr>
                <td>Atas Nama </td>
                <td>:</td>
                <td>{{setor.pengguna.first_name}}</td>
              </tr>
              <tr>
                <td>Jenis Print</td>
                <td>:</td>
                <td>{{setor.print_id.jenis_print}}</td>
              </tr>
              <tr>
                <td>Jilid </td>
                <td>:</td>
                <td>{{setor.jilid}}</td>
              </tr>
              <tr>
                <td>Copy </td>
                <td>:</td>
                <td>{{setor.copy}} Kali Cetak</td>
              </tr>
              <tr>
                <td>Waktu Ambil </td>
                <td>:</td>
                <td>{{setor.waktu_pengambilan|date:"d F Y"}}</td>
              </tr>
              <tr>
                <td>Harga Bayar</td>
                <td>:</td>
                <td>{{setor.harga_bayar}}</td>
              </tr>
              <tr>
                <td>Status Pembayaran</td>
                <td>:</td>
                <td>{{setor.status_bayar}}</td>
              </tr>
              <a class="btn btn-primary" href="{% url 'app-update' setor.id %}">Bayar</a>
              
              {% endfor %}
            </table>
            <div class="table-responsive mt-5">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Pesan ID</th>
                    <th>Nama File</th>
                    <td>Banyak Halaman</td>
                    <th>Harga</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  {% for pesan in pesans %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{pesan.id}}</td>
                    <td>{{pesan.filename}}</td>
                    <td>{{pesan.banyak_halaman}} Lembar</td>
                    <td>Rp. {{pesan.harga}}</td>
                    <!-- <td><a class="btn btn-primary" href="">Ubah</a></td> -->
                  </tr>
                  {# <td><a class="btn btn-succes" href="{% url 'app-cetakpesandetail' pesan.id %}">Cetak</a></td> #}
                  {% endfor %}
                  <tr>
                    <td><b>total</b></td>
                    <td><b>Rp. {{total}}</b></td><br>
                    
                  </tr>
                 
                </tbody>
              </table>
              </div>
            </div>
          </div>
          </div>
       

      </div>
              </div>
            </div>
          </div>
        </div>
        
          {% else %}
          <h1 class="text-danger" style="font-size: 14em">404</h1>

           {% endif %}
         {% endfor %}

{% endblock content %}