{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Print Disini</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
    ============================================ -->
              <link rel="stylesheet" href="{% static "app/vendor/css/dropzone/dropzone.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/bootstrap.min.css" %}">
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/font-awesome.min.css" %}">
    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/owl.theme.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/owl.transitions.css" %}">
    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/animate.css" %}">
    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/normalize.css" %}">
    <!-- meanmenu icon CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/meanmenu.min.css" %}">
    <!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/main.css" %}">
    <!-- morrisjs CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/morrisjs/morris.css" %}">
    <!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/scrollbar/jquery.mCustomScrollbar.min.css" %}">
    <!-- metisMenu CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/metisMenu/metisMenu.min.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/metisMenu/metisMenu-vertical.css" %}">
    <!-- calendar CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/calendar/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/calendar/fullcalendar.print.min.css" %}">
    <!-- x-editor CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/editor/select2.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/editor/datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/editor/bootstrap-editable.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/editor/x-editor-style.css" %}">
    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/data-table/bootstrap-table.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/data-table/bootstrap-editable.css" %}">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/style.css" %}">

    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static "app/vendor/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "app/vendor/css/modals.css" %}">
    <!-- modernizr JS
    ============================================ -->
    <script src="{% static "app/vendor/js/vendor/modernizr-2.8.3.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "app/vendor/css/form/all-type-forms.css" %}">

    <!-- Bootstrap -->
    <link href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <!-- <link href="{% static "app/vendor/bootstrap/dist/css/bootstrap.min.css"  %}" rel="stylesheet"> -->
    <!-- Font Awesome -->
    <link href="{% static "app/vendor/font-awesome/css/font-awesome.min.css"  %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static "app/vendor/nprogress/nprogress.css"  %}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{% static "app/vendor/iCheck/skins/flat/green.css"  %}" rel="stylesheet">
    <!-- Datatables -->
    
    <link href="{% static "app/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css"  %}" rel="stylesheet">
    <link href="{% static "app/vendor/datatables.net-buttons-bs/css/buttons.bootstrap.min.css"  %}" rel="stylesheet">
    <link href="{% static "app/vendor/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css"  %}" rel="stylesheet">
    <link href="{% static "app/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css"  %}" rel="stylesheet">
    <link href="{% static "app/vendor/datatables.net-scroller-bs/css/scroller.bootstrap.min.css"  %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <!-- <link href="{% static "app/vendor/custom.min.css"  %}" rel="stylesheet"> -->

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Start Welcome area -->
    <div class="all-content-wrapper" style="margin-left: 0px;">
<!--         <div class="">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
 -->

        <div class="header-advance-area">
            <div class="header-top-area" style="background: linear-gradient(180deg, #0f63bd 50%, #0f63bd 100%);left: 0px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu" style="float: left;margin-left: 0px;margin-right: 0px;">
                            <li class="nav-item">
                                <a href="{% url 'app-list' %}"><h4 style="color: #FFF ;">PRINT-DISINI</h4></a> 
                                </li>
                            </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                                    <div class="header-right-info" >
                          <ul class="nav navbar-nav mai-top-nav header-right-menu">
                            <li class="nav-item">
                              <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                <span class="admin-name">{{user.first_name}}</span>
                                <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                              </a>
                              <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn" style="background: #fff; animation-duration :0s;">
                                <li>
                                  <a href="profile" style="color: #0f63bd"><span class="fa fa-user author-log-ic"></span>My Profile</a>
                                </li>
                                <li>
                                  <a href="#" style="color: #0f63bd"><span class="fa fa-cog author-log-ic"></span>Ubah Password</a>
                                </li>
                                <li>
                                  <a class="dropdown-item" href="{% url 'logout' %}" style="color: #0f63bd">
                                    <span class="fa fa-lock author-log-ic"></span>
                                    Keluar
                                  </a>
                                  <form id="logout-form" action="logout" method="POST" style="display: none;">
                                    @csrf
                                  </form>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Static Table Start -->
        <div class="container-fluid" style="margin-top: 80px;margin-bottom: 100px;">

            {% block content %}

            {% endblock content %}

        </div>
        <!-- Static Table End -->
    </div>
<!--             <div class="footer-copyright-area" style="background: linear-gradient(180deg, #0f63bd 50%, #0f63bd 100%); position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright &copy; 2020 <a href="">Print Disini</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    <!-- jquery
    ============================================ -->
    <script src="{% static "app/vendor/js/vendor/jquery-1.11.3.min.js" %}"></script>
    <!-- bootstrap JS
    ============================================ -->
    <script src="{% static "app/vendor/js/bootstrap.min.js" %}"></script>
    <!-- wow JS
    ============================================ -->
    <script src="{% static "app/vendor/js/wow.min.js" %}"></script>
    <!-- price-slider JS
    ============================================ -->
    <script src="{% static "app/vendor/js/jquery-price-slider.js" %}"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="{% static "app/vendor/js/jquery.meanmenu.js" %}"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script src="{% static "app/vendor/js/owl.carousel.min.js" %}"></script>
    <!-- sticky JS
    ============================================ -->
    <script src="{% static "app/vendor/js/jquery.sticky.js" %}"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="{% static "app/vendor/js/jquery.scrollUp.min.js" %}"></script>
    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src="{% static "app/vendor/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "app/vendor/js/scrollbar/mCustomScrollbar-active.js" %}"></script>
    <!-- metisMenu JS
    ============================================ -->
    <script src="{% static "app/vendor/js/metisMenu/metisMenu.min.js" %}"></script>
    <script src="{% static "app/vendor/js/metisMenu/metisMenu-active.js" %}"></script>
    <!-- data table JS
    ============================================ -->
    <script src="{% static "app/vendor/js/data-table/bootstrap-table.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/tableExport.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/data-table-active.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/bootstrap-table-editable.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/bootstrap-editable.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/bootstrap-table-resizable.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/colResizable-1.5.source.js" %}"></script>
    <script src="{% static "app/vendor/js/data-table/bootstrap-table-export.js" %}"></script>
    <!--  editable JS
    ============================================ -->
    <script src="{% static "app/vendor/js/editable/jquery.mockjax.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/mock-active.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/select2.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/moment.min.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/bootstrap-editable.js" %}"></script>
    <script src="{% static "app/vendor/js/editable/xediable-active.js" %}"></script>
    <!-- Chart JS
    ============================================ -->
    <script src="{% static "app/vendor/js/chart/jquery.peity.min.js" %}"></script>
    <script src="{% static "app/vendor/js/peity/peity-active.js" %}"></script>
    <!-- tab JS
    ============================================ -->
    <script src="{% static "app/vendor/js/tab.js" %}"></script>
    <!-- plugins JS
    ============================================ -->
    <script src="{% static "app/vendor/js/plugins.js" %}"></script>
    <!-- main JS
    ============================================ -->
    <script src="{% static "app/vendor/js/main.js" %}"></script>
    <script src="{% static "app/vendor/js/custom.min.js" %}"></script>

    <!-- jQuery -->
    <script src="{% static "app/vendor/jquery/dist/jquery.min.js"  %}"></script>
    <!-- Bootstrap -->
   <script src="{% static "app/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"  %}"></script>
    <!-- FastClick -->
    <script src="{% static "app/vendor/fastclick/lib/fastclick.js"  %}"></script>
    <!-- NProgress -->
    <script src="{% static "app/vendor/nprogress/nprogress.js"  %}"></script>
    <!-- iCheck -->
    <script src="{% static "app/vendor/iCheck/icheck.min.js"  %}"></script>
    <!-- Datatables -->
    <script src="{% static "app/vendor/datatables.net/js/jquery.dataTables.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-buttons/js/buttons.flash.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-buttons/js/buttons.html5.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-buttons/js/buttons.print.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"  %}"></script>
    <script src="{% static "app/vendor/datatables.net-scroller/js/dataTables.scroller.min.js"  %}"></script>
    <script src="{% static "app/vendor/jszip/dist/jszip.min.js"  %}"></script>
    <script src="{% static "app/vendor/pdfmake/build/pdfmake.min.js"  %}"></script>
    <script src="{% static "app/vendor/pdfmake/build/vfs_fonts.js"  %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static "app/vendor/custom.min.js"  %}"></script>
</body>

</html>